<!DOCTYPE html>
<html lang="en-us">
    <head>
      <title><%=h game.name %></title>
      <%= css :application, :media => 'screen' %>
      <style>
        body {
          background-color: #3b5998;
        }
      </style>

      <%= js :jquery %>
    </head>
    <body>
      <h1><%=h game.name %></h1>

      <%= embedded_game %>

      <script type="text/javascript">
        if (window.qs === undefined) {
          window.qs = {}
        }
        window.qs.tokens = <%= tokens.to_json %>;
        window.qs.info = {
          venue: 'facebook'
        };
      </script>
    </body>
</html>
