<!DOCTYPE html>
<html lang="en-us">
    <head>
      <title><%=h game.name %></title>
      <%= css :application, :media => 'screen' %>
      <style>
        body {
          background-color: #3b5998;
        }
      </style>
    </head>
    <body>
      <h1><%=h game.name %></h1>

      <%= embedded_game %>

      <h3>Your friends</h3>
      <ul>
        <% friends.each do |friend| %>
          <li><%=h friend.name %> (FB ID: <%=h friend.identifier %>)</li>
        <% end %>
      </ul>
    </body>
</html>
