<!DOCTYPE html>
<html lang="en-us" ng-app="canvasApp">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%=h game.name %></title>
      <%= css :application, :media => 'screen' %>
      <%= css :vendor, :media => 'screen' %>
      <%= js :vendor %>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
  </head>
  <body ng-Controller="navigationController">

    <div id="promo" ng-show="showPromo" class="ng-cloak">
      <button class="close" ng-click="togglePromo()">&times;</button>
      <div class="container">
        <div class="row">
          <div class="span1">
            <a href="http://game.quarterspiral.com/v1/games/59b0bc40-3351-0130-2784-1231381f54b3/spiral-galaxy" target="new"><img src="/v1/images/face.png" width="100" height="100" /></a>
          </div>
          <div class="span5">
            <p class="big">If you like {{gameData().name}}, try <a href="http://game.quarterspiral.com/v1/games/59b0bc40-3351-0130-2784-1231381f54b3/spiral-galaxy" target="new">A Million Faces</a> next</p>

          </div>
          <div class="span2 offset1">
            <p>Publish your own game with <a href="http://mk.quarterspiral.com" target="new">Mission Kontrol</a> for free.</p>

          </div>
          <div class="span2">

            <p>
              Find more games like this on <a href="http://sg.quarterspiral.com" target="new">Spiral Galaxy</a>.
            </p>

          </div>
        </div>
      </div>
    </div>


    <div id="header">
      <h1><a ng-click="toggleSection('game')"><%=h game.name %></a></h1>
      <ul ng-hide="currentSection == 'preroll'">
        <li ng-class="{active: currentSection == 'share'}" ng-show="gameEmbedCode()"><a ng-click="toggleSection('share')"><i class="icon-share"></i> Share</a></li>
        <li ng-class="{active: currentSection == 'about'}"><a class="" ng-click="toggleSection('about')"><i class="icon-info-sign"></i> About</a></li>
        <!-- <li ng-class="{promo: showPromo}"><a class="" ng-click="togglePromo()"><i class="icon-hand-up"></i> More Games!</a></li> -->
        <li ng-show="qsData().info.uuid">
          <a ng-click="logout()" ng-show="qsData().info.venue == 'embedded'">Log out</a>
          <a href="{{qsData().ENV.QS_SPIRAL_GALAXY_URL}}/#/logout" ng-show="qsData().info.venue == 'spiral-galaxy'">Log out</a>
        </li>
      </ul>
      <div id="QS">
        <span ng-show="gameData().credits">
            <span ng-hide="gameData().credits_url">a {{gameData().credits}} game</span>
            <span ng-show="gameData().credits_url">a <a href="{{gameData().credits_url}}">{{gameData().credits}}</a> game</span>
        </span>
        powered by <a href="http://quarterspiral.com" target="new">Quarter Spiral</a>
      </div>
    </div>

    <div id="mainView">
      <div ng-view></div>
      <div id="game" ng-show="currentSection == 'game'">

        <%= embedded_game %>

      </div>

      <div id="preroll" ng-show="currentSection == 'preroll'" removable-ad>
        <p>{{gameData().name}} is supported by:</p>
        <div id="addBody">

          <!-- <iframe width="560" height="315" src="http://www.youtube.com/embed/jSOtjwwz7EE?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> -->
          <SCRIPT language="Javascript">
          var cpmstar_rnd=Math.round(Math.random()*999999);
          var cpmstar_pid=42195;
          document.writeln("<SCR"+"IPT language='Javascript' src='//server.cpmstar.com/view.aspx?poolid="+cpmstar_pid+"&script=1&rnd="+cpmstar_rnd+"'></SCR"+"IPT>");
          </SCRIPT>

        </div>
        <p ad-timer>
          <span ng-hide="timeTillAdIsSkipable < 1">
            You can skip this ad in {{timeTillAdIsSkipable}} seconds.
          </span>
          <a ng-click="toggleSection('game')" ng-show="timeTillAdIsSkipable < 1" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i> Continue to {{gameData().name}}</a></p>
      </div>

      <div id="about" class="page" ng-show="currentSection == 'about'">

        <div class="container">
          <div class="row">
            <div class="span12">
              <button class="close" ng-click="toggleSection('about')">&times;</button>
              <h3>
                {{gameData().name}}
                <span ng-show="gameData().credits">
                  <span ng-hide="gameData().credits_url">by {{gameData().credits}}</span>
                  <span ng-show="gameData().credits_url">by <a href="{{gameData().credits_url}}">{{gameData().credits}}</a></span>
              </span>


              </h3>
            </div>
            <div class="span6">
              <p>{{gameData().description}}</p>
            </div>

            <div class="span12">
              <hr />
              <p>
                <button class="btn btn-primary" ng-click="toggleSection('about')"><i class="icon-arrow-left icon-white"></i> Back</button>
              </p>
            </div>

          </div>
        </div>

      </div>

      <div id="sharing" class="page" ng-show="gameEmbedCode() && currentSection == 'share'">

        <div class="container">
          <div class="row">
            <div class="span12">
              <button class="close" ng-click="toggleSection('share')">&times;</button>
              <h3>Share this game</h3>

            </div>

            <div class="span5">
              <p>Spread the love and embed "<%=h game.name %>" whereever you want: websites, blogs, the sky is the limit!</p>
              <p>Simply copy the code snippet into your website and the game will appear there.</p>
              <p>Just like youTube videos.</p>
            </div>

            <div class="span6 offset1">

              <pre class="code">{{gameEmbedCode()}}</pre>

            </div>

            <div class="span12">
              <hr />
              <p>
                <button class="btn btn-primary" ng-click="toggleSection('share')"><i class="icon-arrow-left icon-white"></i> Back</button>
              </p>
            </div>
          </div>
        </div>

      </div>


      <div id="socialBar" ng-Controller="SocialController">
        <ul class="options" ng-show="friends.length > 0">
        <!--
            <li><a ng-click="toggleFriendFilter();"><i class="icon-ok" ng-class="{'icon-white': searchFriends.online == true}"></i> Online Only</a></li>
        -->
            <li><a ng-click="sortFriends = 'fullName'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'fullName'}"></i> Sort by Name</a></li>

            <li ng-show="friendbarValues.top"><a ng-click="sortFriends = 'meta.top.value'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'meta.top.value'}"></i> Sort by {{friendbarValues.top.label}}</a></li>

            <li ng-show="friendbarValues.bottom"><a ng-click="sortFriends = 'meta.bottom.value'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'meta.bottom.value'}"></i> Sort by {{friendbarValues.bottom.label}}</a></li>
          <li><input type="text" ng-model="searchFriends.$" class="span2 input-mini" placeholder="Search... " ></li>
        </ul>
        <ul class="avatars" ng-show="friends.length > 0">
          <li ng-repeat="friend in friends | filter:searchFriends | orderBy:sortFriends">
            <div class="name">{{friend.fullName}}</div>
            <div ng-show="!!friend.meta.top.value" class="top-value level" title="{{friend.meta.top.label}}">{{friend.meta.top.value|friendbarValue}}</div>
            <div ng-show="!!friend.meta.bottom.value" class="bottom-value xp" title="{{friend.meta.bottom.label}}">{{friend.meta.bottom.value|friendbarValue}}</div>
            <img ng-src="{{friend.avatar}}" />
          </li>
        </ul>
        <div class="noFriends" ng-hide="friends.length > 0">
          <p ng-hide="qsData().info.uuid">
            <a href="/auth/auth_backend" ng-hide="qsData().info.venue == 'spiral-galaxy'">Log in</a>
            <a href="{{qsData().ENV.QS_SPIRAL_GALAXY_URL}}/auth/auth_backend?origin={{('/play/' + qsData().info.game)|url}}" ng-show="qsData().info.venue == 'spiral-galaxy'">Log in</a>
            to see your friends here
          </p>
          <p ng-show="qsData().info.uuid">Hey {{qsData().info.userName}}. You have no friends in our system, yet.</p>
        </div>
      </div>


    </div>

    <%= yield %>

    <script type="text/javascript">
      if (window.qs === undefined) {
        window.qs = {}
      }
      window.qs.tokens = <%= tokens.to_json %>;
      window.qs.info = {
        game: <%= game.uuid.to_json %>,
        gameDetails: <%= game.public_information.to_json %>,
        embedCode: <%= (((game.venues_with_computed_config || {})['embedded'] || {})['computed'] || {})['code'].to_json %>,
        venue: <%= venue.to_json %>,
        <%if defined? uuid %>
        uuid: <%= uuid.to_json %>,
        userName: <%= user_name.to_json %>,
        <% end %>
        <% if game.configuration['local_mode'] %>
        localMode: true,
        <% end %>
        <% if game.has_subscription? %>
          subscription: true,
        <% end %>
        friendbar: {
          <% values = {} %>
          <% if label = game.configuration['friendbarTopValueLabel'] and key = game.configuration['friendbarTopValueKey'] and !label.empty? and !key.empty? %>
            <% values['top'] = {'label' => label, 'key' => key, 'default' => game.configuration['friendbarTopValueDefault']} %>
          <% end %>
          <% if label = game.configuration['friendbarBottomValueLabel'] and key = game.configuration['friendbarBottomValueKey'] and !label.empty? and !key.empty? %>
            <% values['bottom'] = {'label' => label, 'key' => key, 'default' => game.configuration['friendbarBottomValueDefault']} %>
          <% end %>
          values: <%= values.to_json %>
        }
      };
    </script>

    <!-- Angular must be included before these -->
    <script src="/angular-commons/javascripts/envs.js"></script>
    <script src="/angular-commons/javascripts/services.js"></script>
    <script src="/angular-commons/javascripts/controllers.js"></script>
    <%= js :app %>
  </body>
</html>

