<!DOCTYPE html>
<html lang="en-us" ng-app="canvasApp">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%=h game.name %></title>
      <%= css :application, :media => 'screen' %>
      <%= css :vendor, :media => 'screen' %>
      <%= js :vendor %>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="header">
      <h1><%=h game.name %></h1>
      <ul>
        <li><a class="">Login</a></li>
        <li><a class="">Register</a></li>
        <li><a class="">Share...</a></li>
      </ul>
      <div id="QS">
        A <a href="http://quarterspiral.com" target="new">Quarter Spiral</a> Game
      </div>
    </div>

    <div id="mainView">

      <div id="game">

        <%= embedded_game %>

      </div>


      <div id="socialBar" ng-Controller="SocialController">
        <ul class="options" ng-show="friends.length > 0">
        <!--
            <li><a ng-click="toggleFriendFilter();"><i class="icon-ok" ng-class="{'icon-white': searchFriends.online == true}"></i> Online Only</a></li>
        -->
            <li><a ng-click="sortFriends = 'fullName'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'fullName'}"></i> Sort by Name</a></li>

            <li ng-show="friendbarValues.top"><a ng-click="sortFriends = 'meta.top.value'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'meta.top.value'}"></i> Sort by {{friendbarValues.top.label}}</a></li>

            <li ng-show="friendbarValues.bottom"><a ng-click="sortFriends = 'meta.bottom.value'"><i class="icon-ok" ng-class="{'icon-white': sortFriends != 'meta.bottom.value'}"></i> Sort by {{friendbarValues.bottom.label}}</a></li>
          <li><input type="text" ng-model="searchFriends.$" class="span2 input-mini" placeholder="Search... " ></li>
        </ul>
        <ul class="avatars" ng-show="friends.length > 0">
          <li ng-repeat="friend in friends | filter:searchFriends | orderBy:sortFriends">
            <div class="name">{{friend.fullName}}</div>
            <div ng-show="!!friend.meta.top.value" class="top-value level" title="{{friend.meta.top.label}}">{{friend.meta.top.value}}</div>
            <div ng-show="!!friend.meta.bottom.value" class="bottom-value xp" title="{{friend.meta.bottom.label}}">{{friend.meta.bottom.value}}</div>
            <img src="{{friend.avatar}}" />
          </li>
        </ul>
        <div class="noFriends" ng-hide="friends.length > 0">
          <p>Log in to see friends appear here</p>
        </div>
      </div>


    </div>

    <%= yield %>

    <script type="text/javascript">
      if (window.qs === undefined) {
        window.qs = {}
      }
      window.qs.tokens = <%= tokens.to_json %>;
      window.qs.info = {
        game: <%= game.uuid.to_json %>,
        venue: <%= venue.to_json %>,
        <%if defined? uuid %>
        uuid: <%= uuid.to_json %>,
        <% end %>
        friendbar: {
          <% values = {} %>
          <% if label = game.configuration['friendbarTopValueLabel'] and key = game.configuration['friendbarTopValueKey'] and !label.empty? and !key.empty? %>
            <% values['top'] = {'label' => label, 'key' => key, 'default' => game.configuration['friendbarTopValueDefault']} %>
          <% end %>
          <% if label = game.configuration['friendbarBottomValueLabel'] and key = game.configuration['friendbarBottomValueKey'] and !label.empty? and !key.empty? %>
            <% values['bottom'] = {'label' => label, 'key' => key, 'default' => game.configuration['friendbarBottomValueDefault']} %>
          <% end %>
          values: <%= values.to_json %>
        }
      };
    </script>

    <!-- Angular must be included before these -->
    <script src="/angular-commons/javascripts/envs.js"></script>
    <script src="/angular-commons/javascripts/services.js"></script>
    <script src="/angular-commons/javascripts/controllers.js"></script>
    <%= js :app %>
  </body>
</html>

