<!DOCTYPE html>
<html lang="en-us" ng-app="canvasApp">
  <head>
    <title><%=h game.name %></title>
    <%= css :application, :media => 'screen' %>
    <%= js :vendor %>
  </head>
  <body>
    <div id="header">
      <a href="http://quarterspiral.com" target="new" id="logo"><img src="/v1/images/quarterspiral_logo_side.png" width="163px" height="40px" alt="logo" /></a>
      <h1><%=h game.name %></h1>
    </div>

    <div id="mainView">

      <div id="game">

        <%= embedded_game %>

      </div>


      <div id="socialBar" ng-Controller="SocialController">
        <ul class="options">
          <!--
          <li><a ng-click="toggleFriendFilter();"><i class="icon-ok" ng-class="{'icon-white': searchFriends.online == true}"></i> Online Only</a></li>
          -->

          <li><a ng-click="sortFriends = 'fullName'"><i class="icon-ok" ng-class="{'icon-white': sortFriends == 'fullName'}"></i> Sort by Name</a></li>

          <li><a ng-click="sortFriends = 'level'"><i class="icon-ok" ng-class="{'icon-white': sortFriends == 'level'}"></i> Sort by Level</a></li>

          <li><a ng-click="sortFriends = 'xp'"><i class="icon-ok" ng-class="{'icon-white': sortFriends == 'xp'}"></i> Sort by XP</a></li>

          <li><input type="text" ng-model="searchFriends.$" class="span2 input-mini" placeholder="Search... " ></li>
        </ul>
        <ul class="avatars">
          <li ng-repeat="friend in friends | filter:searchFriends | orderBy:sortFriends:true">
          <div class="name">{{friend.fullName}}</div>
          <div class="level">{{friend.level}}</div>
          <div class="xp">{{friend.xp}}</div>
          <img src="{{friend.avatar}}" />
          </li>
        </ul>
      </div>


    </div>

    <%= yield %>

    <script type="text/javascript">
      if (window.qs === undefined) {
        window.qs = {}
      }
      window.qs.tokens = <%= tokens.to_json %>;
      window.qs.info = {
        game: <%= game.uuid.to_json %>,
        venue: <%= venue.to_json %>,
        uuid: <%= uuid.to_json %>
      };
    </script>

    <!-- Angular must be included before these -->
    <script src="/angular-commons/javascripts/envs.js"></script>
    <script src="/angular-commons/javascripts/services.js"></script>
    <script src="/angular-commons/javascripts/controllers.js"></script>
    <%= js :app %>
  </body>
</html>

